h1 {
	font-size: 35px;
	font-weight: bold;
	text-align: center;
}

h2 {
	font-size: 25px;
	font-weight: bold;
	text-align: left;
}

h3 {
	font-size: 20px;
	font-weight: bold;
	text-align: left;
}

li {
	margin: 10px 0;
}

.rule {
	display: flex;
	align-items: flex-start;
	margin-top: 0.5em;
	font-size: 15px;
	font-weight: normal;
	text-align: left;
}

.rule-number {
	width: 1.75em;
	flex-shrink: 0;
}

.rule-text {
	flex: 1;
}

.punish {
	font-size: 15px;
	margin-left: 1.75em;
	margin-bottom: 1.5em;
	font-weight: normal;
	text-align: left;
}

.pagebox {
	margin: auto;
	width: 65%;
}

.box {
	padding: 10px;
	border: 2px solid #323232;
	border-radius: 5px;
	background-color: #191919;
	box-shadow: 0px 0px 5px black;
}

.box .punish:last-child {
	margin-bottom: 0.5em;
}

#snow {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	right: 0;
	bottom: 0;
	pointer-events: none;
	z-index: -1;
}
